@import 'modules/_fonts.pcss';
@import 'modules/_variables.pcss';
@import 'modules/_base.pcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

.myGrid {
  display: grid;
  grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;
  column-gap: 1rem; 
}