@font-face {
  font-family: Poppins;
  font-weight: 700;
  font-style: normal;
  src: url('../../fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins;
  font-weight: 700;
  font-style: normal;
  src: url('../../fonts/Poppins-BoldItalic.ttf');
}

@font-face {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  src: url('../../fonts/Poppins-Italic.ttf');
}

@font-face {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  src: url('../../fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins;
  font-weight: 300;
  font-style: italic;
  src: url('../../fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: Poppins;
  font-weight: 300;
  font-style: italic;
  src: url('../../fonts/Poppins-LightItalic.ttf');
}

/* $ratio: 1.15pt;
$font-size-base: 16pt; */

/* $font-size--base - 2 */

/* $font-size--base - 1 */

/* $font-size--base */

/* $font-size--base + 1 */

/* $font-size--base + 2 */

/* $font-size--base ** 1 */

/* $font-size--base ** 2 */

/* $font-size--base ** 3 */

/* $font-size--base ** 4 */

/* $font-size--base ** 5 */

/* $font-size--base ** 6 */

/* $ratio: 1.333 */

/* $font-size-base: 16pt */

:root {
  --font-family--primary: 'Poppins', sans-serif;

  --font-size--xs: 14pt;
  --font-size--sm: 15pt;
  --font-size--md: 16pt;
  --font-size--lg: 17pt;
  --font-size--xl: 18pt;

  --headline--6: 18,4pt;
  --headline--5: 21,16pt;
  --headline--4: 24,334pt;
  --headline--3: 27,9841pt;
  --headline--2: 32,181715pt;
  --headline--1: 37,00897225pt;

  --white: #FCFCFC;
  --black: #262626;
  --gray--light: #D1D8E0;
  --white--pure: #FFFFFF;
  --black--pure: #000000;
  --primary: #27B382;
  --success: #20BF6B;
  --success--light: #4ff79e;
  --warning: #FED330;
  --warning--light: #ffe894;
  --danger: #EB3B5A;
  --danger--light: #ff8fa3;
  --info: #2D98DA;
  --info--light: #77c7f8;
  --highlight: #8854D0;
  --highlight--light: #bd97f2;

  --margin--xs: 4px;
  --margin--sm: 8px;
  --margin--md: 16px;
  --margin--lg: 32px;
  --margin--xl: 64px;

  --padding--xs: 4px;
  --padding--sm: 8px;
  --padding--md: 16px;
  --padding--lg: 32px;
  --padding--xl: 64px;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family--primary);
}

@tailwind base;

@tailwind components;

@tailwind utilities;