.header-app {
  display: flex;
}

.header-app__supermarket-color {
  width: 100%;
  height: 10px;

  &--tottus {
    background-color: #4DA80A;
  }

  &--lider {
    background-color: #0071DC;
  }
  
  &--jumbo {
    background-color: #1FA02E;
  }

  &--santa-isabel {
    background-color: #D91E18;
  }

}
