.search-box {
  position: relative;
  margin: 1rem;
}

.search-box__icon {
 position: absolute;
 top: 8px;
 left: 8px;

}

.search-box__label {
  display: none;
}

.search-box__input {
  border: none;
  box-shadow: 2px 2px 10px #00000020;
  padding: 8px 16px 8px 32px;
  border-radius: 10px;
  width: 100%;
}
