.container {
  background-color: var(--white);
  min-height: 100vh;
  min-width: 100vw;
}

.main {
  height: calc(100% - 8px);

  &__header {
    margin: 0;
    margin-bottom: 1rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 1020px;
  height: calc(100% - 1.2rem);
  margin: 0 auto;

  &__header {
    padding: 0 1rem;
    margin: 0;
  }

  // &__search-box {}

  // &__chips {}

  &__supermarkets {
    margin: 0;
    flex-grow: 1;
  }
}

.supermarket {
  width: calc(100% - 1rem);
  margin: auto;

  &__header {
    margin-bottom: 0;
    overflow: scroll;

    h3 {
      font-size: 18pt;
    }

    @media screen and (min-width: 768px) {
      overflow: auto;
    }
  }

  &__products {
    margin-top: 0;

    @media screen and (min-width: 768px) {
      width: calc(100% - 4rem);
    }

    @media screen and (min-width: 1020px) {
      width: 100%;
    }
  }

  // &__slider {}

}
